<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>default</servlet-name>
		<init-param>
			<param-name>precompressed</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>etags</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/data/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>data/index.html</welcome-file>
	</welcome-file-list>
	<mime-mapping>
		<extension>ttl</extension>
		<mime-type>text/turtle</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rdf</extension>
		<mime-type>application/rdf+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>nt</extension>
		<mime-type>application/n-triples</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jsonld</extension>
		<mime-type>application/ld+json</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>n3</extension>
		<mime-type>text/n3</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rq</extension>
		<mime-type>application/sparql-query</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ru</extension>
		<mime-type>application/sparql-update</mime-type>
	</mime-mapping>
</web-app>